@import url(fontawesome-all.min.css);
@import url("https://dl.spnr.de/cors/fonts/raleway/style.css");
@import url("https://dl.spnr.de/cors/fonts/source-sans-pro/style.css");

:root {
    --main-border-color: rgba(255, 255, 255, 0.125);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-size: 20px;
}

body {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;

    font-family: Raleway, Arial, Helvetica, sans-serif;
    color: whitesmoke;
    background-color: #282828;
}

h1 {
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
}

/* yoinked these link-colors from darkreader */
a {
    color: #7dbbf7;
}

a:visited {
    color: #be7df8;
}

/* breakpoint for mobile */
@media screen and (max-width: 960px ) {
    html,
    body {
        font-size: 17px;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.2rem;
    }
}

/* MY PIC */
#pic {
    width: 100%;
}

#pic > img {
    display: block;
    border-radius: 50%;
    height: 10rem;
    margin: 0 auto;
}

/* HEADER */
header {
    margin-bottom: 3rem;
    padding-bottom: 1rem;
    border-bottom: solid 2px var(--main-border-color);
}

header > .title {
    margin: 0 auto;
}

header p {
    margin-top: 0.2rem;
    text-align: center;
}

/* SECTIONs */
 section {
     margin-top: 3rem;
 }

section > ul {
    margin-top: 1rem;
    margin-left: 1rem;
}

section > p {
    margin-top: 1rem;
    margin-left: 1rem;
}

/* just to add a little space between list-entry so that it does not look so squished together */
section li {
    margin-top: 0.1rem;
}

/* FOOTER */

footer {
    border-top: solid 2px var(--main-border-color);
    margin: 4rem 0 2rem 0;
}

footer > ul {
    list-style: none;
    margin-top: 0.5rem;
}

footer > ul > li {
    border-left: solid 2px var(--main-border-color);
    display: inline-block;
    margin-left: 1rem;
    padding: 0;
    padding-left: 1rem;
}

/* the first item should not have such a sperator */
footer > ul > li:first-child {
    border-left: 0;
    margin-left: 0;
    padding-left: 0;
}

/* ICONs */
/* needed for this type of fontawesome approach */
.icon {
    /* so that the text does not is directly next to the icon */
    margin-right: 0.3rem;
    list-style: none;
}

.icon.solid:before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

.icon.brands:before {
    font-family: 'Font Awesome 5 Brands';
}

